<div
  class="vh-100 d-flex justify-content-center align-items-center d-flex flex-column text-white m-0 p-0"
>
  <div class="w-50">
    <button class="button button2 w-25" routerLink="/formulario-producto">
      atras
    </button>
  </div>
  <div class="border border-black bg-infos h-75 w-50 p-4">
    <h5 class="text-center text-uppercase mb-4">
      Formulario de Registro ({{ idParams }})
    </h5>
    <div class="bg-black border-bottom mb-4"></div>

    <!-- tu-componente.component.html -->
    <form [formGroup]="forms" class="mb-4">
      <div class="row">
        <div class="col-6 mb-5">
          <label for="Id"><b>id</b></label>
          <input
            type="text"
            placeholder="Ingresar Id"
            name="Id"
            required
            formControlName="id"
          />
          <div *ngIf="this.forms.get('id').invalid" class="error-message">
            no valido
          </div>
        </div>
        <div class="col-6 mb-5">
          <label for="Nombre"><b>Nombre</b></label>
          <input
            type="text"
            placeholder="Ingresar Nombre"
            name="Nombre"
            required
            formControlName="name"
          />
          <div *ngIf="this.forms.get('name').invalid" class="error-message">
            no valido
          </div>
        </div>
        <div class="col-6 mb-5">
          <label for="descripción"><b>Descripción</b></label>
          <input
            type="text"
            placeholder="Ingresar Descripción"
            name="descripción"
            required
            formControlName="description"
          />
          <div *ngIf="this.forms.get('description').invalid" class="error-message">
            no valido
          </div>
        </div>
        <div class="col-6 mb-5">
          <label for="psw"><b>logo</b></label>
          <input
            type="text"
            placeholder="Ingresar logo"
            name="logo"
            required
            formControlName="logo"
          />
          <div *ngIf="this.forms.get('logo').invalid" class="error-message">
            no valido
          </div>
        </div>
        <div class="col-6 mb-5">
          <label for="fechaLiberacion"><b>Fecha Liberacion</b></label>
          <input
            type="date"
            name="fechaLiberacion"
            required
            formControlName="date_release"
          />
          <div *ngIf="this.forms.get('date_release').invalid" class="error-message">
            no valido
          </div>
        </div>
        <div class="col-6 mb-5">
          <label for="fechaRevision"><b>Fecha Revision</b></label>
          <input
            type="date"
            name="fechaRevision"
            required
            formControlName="date_revision"
          />
          <div *ngIf="this.forms.get('date_revision').invalid" class="error-message">
            no valido
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="offset-4 col-2" *ngIf="reset">
        <button class="button" (click)="resetForms()">Reiniciar</button>
      </div>
      <div class="col-2">
        <button class="button button2" (click)="sendForms()">enviar</button>
      </div>
    </div>
  </div>
</div>

<app-modal
  [showModal]="showModal"
  [section]="sectionModal"
  (buttonAccepts)="buttonAccepts($event)"
></app-modal>
