<div
  class="vh-100 d-flex justify-content-center align-items-center d-flex flex-column"
>
  <div class="border border-black bg-info h-50 w-50 p-4">
    <h5 class="text-center text-uppercase mb-4">Formulario de Registro</h5>
    <div class="bg-black border-bottom mb-4"></div>

    <!-- tu-componente.component.html -->
    <form [formGroup]="formulario" class="mb-4">
      <div class="input-group mb-5">
        <input
          formControlName="id"
          type="text"
          class="form-control"
          placeholder="Id"
          aria-label="Id"
        />
        <div class="space"></div>
        <input
          formControlName="nombre"
          type="text"
          class="form-control"
          placeholder="Nombre"
          aria-label="Nombre"
        />
      </div>
      <div class="input-group mb-5">
        <input
          formControlName="descripcion"
          type="text"
          class="form-control"
          placeholder="Descripción"
          aria-label="Descripción"
        />
        <div class="space"></div>
        <input
          formControlName="logo"
          type="text"
          class="form-control"
          placeholder="Logo"
          aria-label="Logo"
        />
      </div>
      <div class="input-group mb-5 row">
        <div class="col mb-3">
          <div class="input-group">
            <input
              formControlName="fechaLiberacion"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp1"
              ngbDatepicker
              #d1="ngbDatepicker"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d1.toggle()"
              type="button"
            >
              <i class="fa-regular fa-clock"></i>
            </button>
          </div>
        </div>
        <div class="col mb-3">
          <div class="input-group">
            <input
              formControlName="fechaRevision"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp2"
              ngbDatepicker
              #d2="ngbDatepicker"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3"
              (click)="d2.toggle()"
              type="button"
            >
              <i class="fa-regular fa-clock"></i>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div
      class="w-100 text-center h-25 d-flex flex-wrap align-content-center justify-content-center"
    >
      <button
        type="button"
        class="btn btn-primary mx-5"
        (click)="reiniciarFormulario()"
      >
        reiniciar
      </button>
      <button
        type="button"
        class="btn btn-success mx-5"
        (click)="enviarFormulario()"
      >
        enviar
      </button>
    </div>
  </div>
</div>
