<form>
  <input type="text" id="fname" formControlName="buscar" placeholder="Buscar" />
  <!-- Puedes agregar un botón de envío si es necesario -->
  <!-- <button type="submit">Buscar</button> -->
</form>

<table id="customers">
  <tr>
    <th *ngFor="let item of header">{{ item.th }}</th>
  </tr>
  <tr
    *ngFor="let item of body"
    (click)="rowClick($event, item)"
    class="pointer"
  >
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.logo }}</td>
    <td>{{ item.date_release }}</td>
    <td>{{ item.date_revision }}</td>
    <td class="text-center">
      <app-dropdown></app-dropdown>
    </td>
  </tr>
</table>
