<!-- modal.component.html -->
<div
  *ngIf="showModal"
  class="modal"
  [ngStyle]="{ display: showModal ? 'block' : 'none' }"
>
  <div class="modal-content size-modal">
    <div class="modal-header text-center">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 class="w-100">{{ header }}</h2>
    </div>
    <div class="modal-body text-center">
      <p class="w-100">{{ section }}</p>
    </div>
    <div class="w-25 text-center w-100 my-2">
      <button class="button button2" (click)="buttonAccept()">aceptar</button>
    </div>
    <div class="modal-footer text-center">
      <h3 class="w-100">{{ footer }}</h3>
    </div>
  </div>
</div>
