<div class="row justify-content-between mx-5 mb-4">
  <form [formGroup]="inputSearch" class="col-2 h-25">
    <input
      type="text"
      id="fname"
      formControlName="inputSearch"
      placeholder="Buscar ID"
    />
  </form>
  <button
    class="button col-1 h-25 align-self-center"
    (click)="addButton()"
    routerLink="/formulario-producto/add"
  >
    agregar
  </button>
</div>
<app-tables [body]="body" [header]="header" [searches]="searchesTable" (dropdown)="dropdown($event)">
</app-tables>
